* {
  -webkit-font-smoothing: antialiased;
}

*:focus {
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 62.5%;
}

body {
  font-family: $font-desc;
  font-size: 3.5rem;
  color: white;
}

h1 {
  
}

p {
  
}

p::selection {
  
}

h1::selection {
  
}

span::selection {
  
}