.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(8, minmax(10%, 1fr));
  grid-template-rows: repeat(5, minmax(10%, 1fr));

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gold;
    border: 1px solid black;

    &:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
      background: tomato;
    }

    &:nth-child(10) {
      grid-column: span 3;
      background: plum;
    }
  }
}